<div class="content-login">
  <%= display_alert %>
  <%= display_warden_message_tag %>

  <section id="big-taco">
    <%= image_tag('logo.png') %>
  </section>

  <section id="signin-form", class="form">
    <%= form_tag "/auth/identity/callback" do |f| %>
      <% if @user && @user.errors.any? %>
       <div class="error_messages">
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= label_tag :auth_key, t('.username') %>
        <%= email_field_tag :auth_key, @user.try(:email), placeholder: t('.ph_username') %>
      </div>
      <div class="field">
        <%= label_tag :password, t('.password') %>
        <%= password_field_tag :password, nil, placeholder: t('.ph_password'), maxlength: 8 %>
      </div>
      <div id="login-button">
        <%= submit_tag t('.login'), class:"login-button" %>
      </div>
    <% end %>

    <div id="signup-link">
      <%= link_to t('.create_account'), new_user_path %>
      <%= t('.social_buttons') %>
    </div>

    <div id="login-social-buttons">
      <%= link_to 'GooglePlus', "/auth/gplus", class: "zocial icon googleplus", style: "font-size: .8em;" %>
      <%= link_to 'Facebook', "/auth/facebook", class: "zocial icon facebook", style: "font-size: .8em;" %>
      <%= link_to 'Twitter', "/auth/twitter", class: "zocial icon twitter", style: "font-size: .8em;" %>
      <%= link_to 'Github', "/auth/github", class: "zocial icon github", style: "font-size: .8em;" %>
      <%= link_to 'LinkedIn', "/auth/linkedin", class: "zocial icon linkedin", style: "font-size: .8em;" %>
    </div>
  </section>

  <script type="text/javascript">
    document.addEventListener('page:load', function(){
      new App.Utilities.HeaderAndFooter();
    });

    $(function(){
      new App.Utilities.HeaderAndFooter();
    });
  </script>
</div>