<%= display_alert %>
<%= display_notice %>

<div class="signup-form">
  <%= form_tag @user, url: "/auth/user/register"  do %>
    <% if @user && @user.errors.any? %>
      <%= "There were errors!" %>
    <% end %>
    <div class="field">
      <%= label_tag :name, t('.name') %>
      <%= text_field_tag :name, @user.try(:name), placeholder: t('.ph_name') %>
      <%= field_error @user, :name %>
      <%= "USER => #{@user.inspect}" %>
    </div>
    <div class="field">
      <%= label_tag :email, t('.email') %>
      <%= email_field_tag :email, @user.try(:email), placeholder: t('.ph_email') %>
      <%= field_error @user, :email %>
    </div>
    <div class="field">
      <%= label_tag :password, t('.password') %>
      <%= password_field_tag :password, nil, placeholder: t('.ph_password') %>
    </div>
    <div class="field">
      <%= label_tag :password_confirmation, t('.confirmation') %>
      <%= password_field_tag :password_confirmation, nil, placeholder: t('.ph_confirmation') %>
      <%= field_error @user, :password %>
    </div>
    <%= submit_tag t('.register') %>
  <% end %>
</div>