<%= display_alert %>
<%= display_notice %>

<section id="signup-form">
  <h1><%= t('.new_user') %></h1>
  <%= form_tag "/auth/identity/register" do %>
    <% if @user && @user.errors.any? %>
     <div class="error_messages">
        <h2><%= pluralize(@user.errors.count, "error") %>:</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= label_tag :name, t('.name') %>
      <%= text_field_tag :name, @user.try(:name), placeholder: t('.ph_name') %>
      <%= field_error @user, :name %>
    </div>
    <div class="field">
      <%= label_tag :email, t('.email') %>
      <%= email_field_tag :email, @user.try(:email), placeholder: t('.ph_email') %>
      <%= field_error @user, :email %>
    </div>
    <div class="field">
      <%= label_tag :password, t('.password') %>
      <%= password_field_tag :password, nil, placeholder: t('.ph_password') %>
      <%= field_error @user, :password %>
    </div>
    <div class="field">
      <%= label_tag :password_confirmation, t('.confirmation') %>
      <%= password_field_tag :password_confirmation, nil, placeholder: t('.ph_confirmation') %>
      <%= field_error @user, :password_confirmation %>
    </div>
    <div id="signup-button">
      <%= submit_tag t('.register') %>
    </div>
  <% end %>
</section>

<script type="text/javascript">
  document.addEventListener('page:load', function(){
    new App.Utilities.HeaderAndFooter();
  });

  $(function(){
    new App.Utilities.HeaderAndFooter();
  });
</script>