<%= form_for user, url: user_path(user), html: { multipart: true } do |f| %>
  <span id="picture-profile">
    <%= image_tag "frame.png", id: "picture-frame" %>
    <%= display_avatar(user) %>
    <%= f.file_field :picture %>
    <%= field_error user, :picture_content_type %>
    <%= field_error user, :picture_file_size %>
  </span>
  <div id="user-data" class="form">
    <div class="field">
      <%= f.label t('.name') %>:
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label t('.email') %>:
      <%= f.email_field :email, disable: true %>
    </div>
    <%= f.submit t('.save'), id: "update-profile-button" %>
  </div>
<% end %>