<table class="pure-table pure-table-striped">
  <thead>
    <tr>
      <th style="width: 10px;">#</th>
      <th style="width: 200px;"><%= I18n.t :created_at, scope: [:table_headers] %></th>
      <th style="width: 300px;"><%= I18n.t :name, scope: [:table_headers] %></th>
      <th style="width: 300px;"><%= I18n.t :address, scope: [:table_headers] %></th>
      <th style="width: 150px;"><%= I18n.t :phone, scope: [:table_headers] %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "shared/establishment", collection: user.establishments.distinct(), as: :establishment %>
  </tbody>
</table>
