<container>
  <%= render "auth/authentication" %>

  <section id="info-user-profile" class="section">
    <h1 class="title-section"><%= t('.personal-info') %></h1>
    <%= render partial: "form", locals: {user: @user} %>
  </section>
  <div class="line" style="background-color: white; height: 1px; width: 1024px"></div>

  <section id="info-user-orders" class="section">
    <h1 class="title-section"><%= t('.orders-created') %></h1>
    <%= display_user_orders(@user) %>
  </section>
  <div class="line" style="background-color: white; height: 1px; width: 1024px"></div>

  <section id="info-user-establishments">
    <h1 class="title-section"><%= t('.establishments-created') %></h1>
    <%= display_user_establishments(@user) %>
  </section>
</container>

<script type="text/javascript">
  document.addEventListener('page:load', function(){
    new App.Utilities.HeaderAndFooter();
  });

  $(function(){
    new App.Utilities.HeaderAndFooter();
  });
</script>