# <%= form_for establishment, url: url  do |f| %>
#   <div class="field">
#     <%= f.label :name %>
#     <%= f.text_field :name %>
#     <%= field_error establishment, :name %>
#   </div>
#   <div class="field">
#     <%= f.label :schedule %>
#     <%= f.text_field :schedule %>
#     <%= field_error establishment, :schedule %>
#   </div>
#   <div class="field">
#     <%= f.label :phone %>
#     <%= f.text_field :phone %>
#     <%= field_error establishment, :phone %>
#   </div>
#   <div class="field">
#     <%= f.label :address %>
#     <%= f.text_field :address %>
#   </div>
#
#   <div class="submit">
#     <%= f.submit t('.save')  %>
#     <%= link_to t('.cancel'), establishments_path %>
#   </div>
# <% end %>
