<!DOCTYPE html>
<html>
  <head>
    <title>TacoManager</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:900,700,500,400,300,100" rel="stylesheet" type="text/css">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="keywords" content="ruby, ruby on rails, ror, crowdint, trainees, project">
    <meta name="robots" content="all" >
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body style="background-color: rgb(236,236,236)">
    <header class="main-header">
      <div class="container">
        <span id="circles"></span>
        <span id="logo-header", class:"small-logo-header"></span>
        <ul id="menu">
          <li><%= link_to t('.menu_profile'), root_path %></li>
          <li><%= link_to t('.menu_establishments'), working_in_progress_path %></li>
          <li><%= link_to t('.menu_orders'), working_in_progress_path %></li>
        </ul>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="main-footer">
      <div class="container">
        <span id="circles"></span>
        <span id="legend">
         Crowd Interactive @ 2009, This site is protected by copyright, Under U.S. and international laws. All rights reserved.
        </span>
        <span id="logo-footer"></span>
      </div>
    </footer>
  </body>
</html>
